*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: helvetica;
  color: black;
}
html,body{
  height:100%;
  width:100%
}

.parent{
  width: 100%;
  min-height: 100vh;
  background: #111;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 75px;
}
.card{
  height: 330px;
  width: 280px;
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.card .top{
  display:flex;
  align-items: center;
  justify-content: space-between;

}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #777777;
}


.center h3{
  font-size: 18px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 500;
  color: #8b8b8b;
}
.center  h2{
  padding-top: 3px;
  font-size: 20px;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 14px;
  background: #b8b7b6;
  color: #111;
  padding: 3px 6px;
  font-weight: 500;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1 ;
  padding-top: 15px ;

}

.bottom h3{
  font-size: medium;
}
.bottom p{
  font-size: small;
  color: #3f3f3f;
}
.bottom button{
  height: 28px;
  width: 90px;
  color: #ece3e3;
  background: #000;
  border-radius: 5px;
  font-weight: 600;
  border: none;
}





