

.box{
  height: 200px;
  width: 200;
  background-color: #646cff;
}
.page1{
  height: 100vh;
  width: 100%;
  background:blueviolet;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: pink;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: yellow;
}