*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,body{
  height:100%;
  width:100%
}
body{
  background-color: #111;
}

.parent{
  padding:20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  text-align: center ;
  border-radius: 10px;
  background: #222;
  margin-right: 20px;
}

.card p{
  padding:20px 0 ;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.card button{
  padding: 8px 20px;
  background-color:white;
  color: black;
  border: none;
  border-radius: 5px;
}
