*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body{
  height:100%;
  width:100%
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}
.Nav{
  background: #000;
  margin: 5px;
  padding: 20px;
  text-align: center;
  font-size: medium;
  color: antiquewhite;
}