*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #101010;
}
html,body{
  height:100%;
  width:100%
}

button{
  padding: 10px 20px;
  margin:20px;
}
h1{
  background: gainsboro;
  padding: 10px 20px;
  margin:20px;
}